* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow: hidden;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	height: 800px;
	width: 800px;
	background-color: #555;
    border: 5px solid red;
}